body {
    background-color: #F5F5F0;
    color: #35393C;
}

body.dark-mode {
    background-color: #35393C;
    color: #F5F5F0;
}

body.blurred {
    filter: blur(100%);
    pointer-events: none; 
}

.nav-link{
    color: #35393C;
    font-weight: 400;
    font-size: 18px;
}

.navbar {
    background-color: #A4D8FF !important;
}

.card {
    border-radius: 10px;
    border: 1px solid #000000;
}

.alert {
    border-radius: 10px;
}

input, textarea, select {
    border-radius: 5px;
}

.btn {
    border-radius: 20px;
}

.table tbody tr.fraud td {
    background-color: #f00 !important;
    color: #000 !important;
}
.table tbody tr.fraud td .btn {
    border-color: #000 !important;
    background-color: #000 !important;
    color: #fff !important;
}

.chart-container {
    width: 50%;
    margin: 10px;
    font-size: medium;
    justify-content: center;
}

.col-md-4 {
    margin: 5px;
    width: 30%;
}

.btn:hover {
    opacity: 0.9;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

textarea {
  width: 45%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea2 {
  width: 45%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}